.skillBlock {
    background-color: #ade8ff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 200px;
    margin: 20px 0;
}

.img {
    width: 60px;
    height: 60px;
    background-color: antiquewhite;
}

.skillBlock h3 {
    margin: 20px auto;
}

.skillBlock span {
    display: inline-block;
    vertical-align: middle;
}

