.skillsBlock {
    height: 100vh;
    background-color: #7f7ffd;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.skills {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}



