.projectBlock {
    background-color: #bcadff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    width: 400px;
    margin: 20px 0;
}

.projectBlock h3 {
    margin: 20px auto;
}

.projectBlock span {
    display: inline-block;
    vertical-align: middle;
}

.imgProject {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*position: relative;*/
    background-color: #adffef;
}

.imgProject a {
    background-color: white;
    color: black;
    font-weight: bold;
    border: 3px solid black;
    border-radius: 3px;
    padding: 2px 5px;
    /*margin-top: 50px;*/
    /*position: absolute;*/
}

.descriptionProject {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.titleProject {
    float: right;
    text-align: left;
    width: auto;
}

.titleProject h3 {
    background-color: #fff4ad;
    padding: 2px 5px;
}

.descriptionProject span {
    display: inline-block;
    text-align: left;
}

